<div id="<%= dom_id employer %>">
  <p>
    <strong>Name:</strong>
    <%= employer.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employer.email %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= employer.age %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= employer.salary %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= employer.department %>
  </p>

</div>
